/* My Styles */
.background {
    /*background: url(/assets/images/highlighted-grey-background_test.jpg) no-repeat center center fixed;*/
    background-color: #333333;
    background-size: cover;
}

.btn-anomaly {
  color: #fff;
  background-color: #29AAE3;
  border-color: #006bb3;
}

.btn-anomaly-sm {
  color: #fff;
  background-color: #29AAE3;
  border: none;
}