@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/Login_Layout.cshtml";
}



<div class="col-md-offset-4 col-md-4" style="background-color: white; border-radius: 5px; margin-top: 200px; text-align: center">
    <img src="~/assets/upload/Anom_Logo_Wifi.png" style="width: 100%; margin-top: 40px"/>
    <h1>Forgot Password Confirmation</h1>
    <hr />
    <div>
        <p>
            Please check your email for a link to reset your password.
        </p>
    </div>
</div>

	
